{{#extends "base"}}
  {{#block "title"}}Create New Product{{/block}}
  {{#block "body"}}
    <h2 class="ms-2 mt-1">Add New Product</h2>
    <div>
      <form id="form" class="m-4" method="post">
        <div class="mb-2">
          <lr-file-uploader-regular
            css-src="https://cdn.jsdelivr.net/npm/@uploadcare/blocks@0.25.0/web/lr-file-uploader-regular.min.css"
            ctx-name="my-uploader"
            class="my-config"
            id="uc-widget"
          >
          </lr-file-uploader-regular>
        </div>
        <div id="img_container mb-2 mt-2">
          <img class="img-fluid" id="uploaded-img" src="" />
        </div>
        {{{form}}}
        <input type="hidden" name="image" value="" id="image" />
        <div class="mt-2">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
      </form>
    </div>
  {{/block}}

  {{#block "js"}}
  <script>
    window.addEventListener("DOMContentLoaded", () => {
      console.log(form.data);
    })
  </script>
    <script type="module">
      import * as LR from
      "https://cdn.jsdelivr.net/npm/@uploadcare/blocks@0.25.0/web/lr-file-uploader-regular.min.js";
      LR.registerBlocks(LR);
    </script>

    <lr-config
      ctx-name="my-uploader"
      pubkey="{{UC_PUBLIC}}"
      max-local-file-size-bytes="5000000"
      multiple-max="1"
      img-only="true"
      source-list="local, url, camera"
    ></lr-config>
    <script>
      window.addEventListener("LR_UPLOAD_FINISH", (e) => { e.preventDefault();
      const uuid = e.detail.data[0].uuid; if (uuid) { console.log("uuid: ",
      uuid); document.querySelector("#image").value = uuid;
      document.querySelector( "#uploaded-img" ).src =
      `https://ucarecdn.com/${uuid}/-/preview/450x450/-/quality/smart_retina/-/format/auto/`;
      } });
    </script>
  {{/block}}
{{/extends}}